<ion-view view-title="Courses">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="course in courses" type="item-text-wrap" href="#/tab/courses/{{course.id}}">
        <img ng-src="{{course.image}}">
        <h2>{{course.courseName}}</h2>
        <p>{{course.shortDescription}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(course)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
