<ion-view view-title="CLC">
  <ion-content class="padding">
    <div class="item item-image">
      <img ng-src="img/learning-centre.jpg">
    </div>
     <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true">
        <ion-slide>
                <div class="item item-image">
                    <img ng-src="img/Ad1.jpg">
                </div>
          </ion-slide>
          <ion-slide>
                <div class="item item-image">
                    <img ng-src="img/Ad2.jpg">
                </div>
            </ion-slide>
          <ion-slide>
                <div class="item item-image">
                    <img ng-src="img/Ad3.jpg">
                </div>
            </ion-slide>
          <ion-slide>
                <div class="item item-image">
                    <img ng-src="img/Ad4.jpg">
                </div>
            </ion-slide>

      </ion-slide-box>
    <div class="item item-image">
      <img ng-src="img/Ad6.jpg" style="width: 90%; height: 90%">
    </div>
  </ion-content>
</ion-view>
